
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset mdl-typography--text-center">
    <h2>
      <%= @bdc.name %>
    </h2>
  </div>
</div>

<div class="mdl-grid">
  <%= render partial: 'section', locals: {
      title: 'Thoughts and Feelings',
      questions: @bdc.questions[0, 10]
  } %>
  <%= render partial: 'section', locals: {
      title: 'Activities and Personal Relationships',
      questions: @bdc.questions[10, 7]
  } %>
  <%= render partial: 'section', locals: {
      title: 'Physical Symptoms',
      questions: @bdc.questions[17, 5]
  } %>
  <%= render partial: 'section', locals: {
      title: 'Suicidal Urges**',
      questions: @bdc.questions[22, 3]
  } %>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <p class="score-display">
      Score: <span id="score">0</span>
    </p>
  </div>
</div>